<a href="https://colab.research.google.com/github/carloselv/kaggle/blob/master/Kaggle_Titanic_%C3%81rvore_de_Decis%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

#Lendo conjuntos de teste e treino
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

#Cinco primeiras linhas do conjunto de treino
train.head()

#Retirando colunas: nome, ticket e cabine
train.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)
test.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

#Criação de novo DataFrame a partir do One-hot Encoding
new_data_train = pd.get_dummies(train)
new_data_test = pd.get_dummies(test)

In [0]:
#Primeiras linhas do novo dataset de treino
new_data_train.head()

   PassengerId  Survived  Pclass  ...  Embarked_C  Embarked_Q  Embarked_S
0            1         0       3  ...           0           0           1
1            2         1       1  ...           1           0           0
2            3         1       3  ...           0           0           1
3            4         1       1  ...           0           0           1
4            5         0       3  ...           0           0           1

[5 rows x 12 columns]

In [0]:
#Primeiras linhas do novo dataset de teste
new_data_test.head()

   PassengerId  Pclass   Age  ...  Embarked_C  Embarked_Q  Embarked_S
0          892       3  34.5  ...           0           1           0
1          893       3  47.0  ...           0           0           1
2          894       2  62.0  ...           0           1           0
3          895       3  27.0  ...           0           0           1
4          896       3  22.0  ...           0           0           1

[5 rows x 11 columns]

In [0]:
#Quantidade de valores nulos no conjunto de treino
new_data_train.isnull().sum().sort_values(ascending=False).head(10)
#new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Age           177
Embarked_S      0
Embarked_Q      0
Embarked_C      0
Sex_male        0
Sex_female      0
Fare            0
Parch           0
SibSp           0
Pclass          0
dtype: int64

In [0]:
#Preenchendo com valores nulos
new_data_train['Age'].fillna(new_data_train['Age'].mean(), inplace=True)
new_data_test['Age'].fillna(new_data_test['Age'].mean(), inplace=True)

In [0]:
#Quantidade de valores nulos no conjunto de teste
new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Fare          0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [0]:
#Preenchendo com valores nulos
new_data_test['Fare'].fillna(new_data_test['Fare'].mean(), inplace=True)

In [0]:
#Algoritmo Árvore de Decisão

#Separando features e target para criação do modelo
X = new_data_train.drop('Survived', axis=1) 
y = new_data_train['Survived']

In [0]:
#Criação do Modelo
tree = DecisionTreeClassifier(max_depth=3, random_state=0)
tree.fit(X,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [0]:
#Verificando score no conjunto de treino
tree.score(X,y)

0.8271604938271605

In [0]:
#Submissão das Predições para o Kaggle

submission = pd.DataFrame()
submission['PassengerId'] = new_data_test['PassengerId']
submission['Survived'] = tree.predict(new_data_test)

#Exportação para CSV
submission.to_csv('submission.csv',index=False)